.container_title{

    display: flex;
    justify-content: center;

}
.container_title h1{
    font-size: 40px;
}

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}

.container_form{
    /* background-color: yellow; */
    width: auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_error{
    color: red;
    font-size: 20px;
}

form {
    /* background-color: blue; */
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_form input{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 20vw;
    height: 2.5vh;
    margin-bottom: 20px;
}

.container_form select{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 20.4vw;
    height: 2.5vh;
    margin-bottom: 20px;
}

.container_form button {
    padding: 10px 20px;
    background-color: #000000; /* cor de fundo original */
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Transição suave de 0.3 segundos */
}

.container_form button:hover {
    transform: scale(1.1); /* Aumenta em 10% quando passa o mouse */
    background-color: #dc3545; /* Cor vermelha */
}
/* CSS existente */

/* Centraliza o container do botão */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espaçamento superior */
}

/* Estiliza o botão */
.button-container button {
    padding: 10px 20px;
    background-color: #000000; /* cor de fundo original */
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Transição suave de 0.3 segundos */
}

.button-container button:hover {
    transform: scale(1.1); /* Aumenta em 10% quando passa o mouse */
    background-color: #dc3545; /* Cor vermelha */
}
